<div class="mainBox">
    <h1 class="title">Outreach Admin Portal</h1>
    <div class="formBox">
        <p class="login-heading">Sign in to your account</p>
        <form action="" [formGroup]="loginForm">

            <div class="card flex justify-content-center">
                <p-floatLabel>
                    <input pInputText id="email" formControlName="email" />
                    <label for="email">Email</label>
                </p-floatLabel>

                <small class="validation-message">
                    <span *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
                        Email is required
                    </span>
                    <span *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['email']">
                        Enter valid email
                    </span>
                </small>
            </div>


            <div class="card flex justify-content-center password-card">
                <p-floatLabel>
                    <input type="password" pInputText id="password" formControlName="password" />
                    <label for="password">Passsword</label>
                </p-floatLabel>
                <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    class="validation-message">
                    <span *ngIf="loginForm.get('password')?.errors?.['required']">Passsword is required</span>
                    <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Minimum length 6</span>
                </small>
            </div>

            <div class="action-box">
                <small class="invalid-credits" *ngIf="invalidCredits">Invalid Credentials</small>
            </div>

            <input type="submit" value="Login" id="submit" (click)="login()">
        </form>
    </div>
</div>