<app-menu-bar></app-menu-bar>
<div class="mainBox">
    <div class="title-box">
        <h1 class="title">Worksapces</h1>
    </div>
    <div class="search-add-box">
        <input type="text" placeholder="Search Workspaces">
        <button type="button" class="search">Search</button>
        <button type=" button" class="add" [routerLink]="['add']">Add Worksapces</button>
    </div>
    <div class="table-box">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr app-workspace *ngFor="let ws of workspaces" [workspace]="ws"></tr>
            </tbody>
        </table>
    </div>
</div>