<app-menu-bar></app-menu-bar>
<div class="mainBox">
    <div class="title-box">
        <h1 class="title">Users</h1>
    </div>
    <div class="search-add-box">
        <input type="text" placeholder="Search Users">
        <button type="button" class="search">Search</button>
        <button type=" button" class="add" [routerLink]="['add']">Add User</button>
        <button type="button" class="back" (click)="goBack()">Back</button>
    </div>
    <div class="table-box">
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr app-user *ngFor="let user of users" [user]="user"></tr>
            </tbody>
        </table>
    </div>

    <div class="pagination-box">
        <button (click)="prevPage()" [disabled]="page === 1">Previous</button>
        <span>Page {{page}} of {{totalPages}} </span>
        <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>
</div>